body {
    background-color: white;
}
#res{
    background-color: gold;
    color: #000;
}
#menu{
    background-color: linear-gradient(#e66465, #9198e5);
    color: #000;
}
#menuitem{
    background-color: rgb(0, 183, 255);
    color: #000;
}
